body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', 'sans-serif';
}
#banner{
    border: 1px inset #000;
    background: rgb(255, 255, 255);
    color: #ddd;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

#banner p{
    margin: 0.5em 0 0 0;
    white-space: nowrap;
    color: rgb(92, 86, 28);
}
#header{
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
}
#logo{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 7px;
}
#logo_part1{
    color: honeydew;
    font-family: 'Style Script', cursive;
    font-size: 35px;
    margin-left: 20px;
    font-weight: bold;
}
#logo_part2{
    color: khaki;
    font-family: 'Style Script', cursive;
    font-size: 25px;
    margin-left: 40px;
}
#basket{
    color: honeydew;
    margin-right: 30px;
    cursor: pointer;
    transition : all 200ms;
}
#basket a {
    color: inherit;
    text-decoration: none;
}
#basket:hover{
    color: khaki;
    transform: scale(1.1);
}
#basket_total_quantity{
    border-radius: 30px;
    background-color: #C8AD7F;
    border-color: black;
    height: 16px;
    width: 16px;
    display: flex;
    color: black;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin: 0px 0 -5px 10px;
    z-index: 1;
    position: relative;
}
.fas{
    margin-right: 10px;
}
#picture_section{
    margin-top: 0;
    position: relative;
}
#picture_text{
    background-color: rgb(46, 45, 45, 0.6);
    width: 40%;
    position: absolute;
    top: 5%;
    left: 20px;
}
#picture_text h2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 15px;
}
#picture_text p{
    color: white;
    margin: 15px;
    text-align: center;
}
#picture_section img{
    height: 400px;
    object-fit: cover;
    width: 100%;
}
section{
    margin-top: 40px;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Style Script', cursive;
}
.products{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}
.camera_card{
    width: 45.8%;
    height: 270px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    border-radius: 20px;
    margin: 20px auto;
    overflow: hidden;
    cursor: pointer;
    transition : transform 100ms;
}
.camera_card a{
    text-decoration: none;
    color: inherit;
}
.camera_card:hover{
    box-shadow: 2px 2px 10px rgb(163, 162, 162);
    transform: scale(1.02);
}
.camera_card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: flex;
}
#camera_card_text{
    background-color: rgb(211, 194, 165);
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 13px 30px;
}
footer{
    background-color: rgb(46, 45, 45);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer span {
    color: honeydew;
    cursor: pointer;
    transition : all 200ms;
}
footer span:hover{
    color: khaki;
    transform: scale(1.1);
}

@media (max-width: 670px){
    .camera_card{
        width: 90%;
    }
    h3{
        font-size: 30px;
    }
    #picture_section img{
        height: 300px;
    }

}
@media (max-width: 430px){
    #picture_text{
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    #picture_text h2, #picture_text p{
        color: black;
    }
}